@font-face {
    font-family: "Norse Bold";
    src: url("./assets/Norse-Bold.otf");
}

:root{
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    margin: 0;
}

header{
    position: sticky;
    top: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    
    border-bottom: 1px solid grey;
    background: url("./assets/bg.jpg");
    display: flex;
    
}

header > .logo-header-con{  
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.logo-header-con > img{
    width: 60px;
    height: 60px;
}

.logo-header-con > h1{
    font-size: 4rem;
    font-family: "Norse Bold";
    color: white;
}

main{
    box-sizing: border-box;
    padding: 16px;
    padding-top: 0;
    width: 100%;
}

article.preface > p{
    font-size: 1.5rem;
    font-weight: bold;
}

article.preface :nth-child(2){
    margin-bottom: 32px;
}


form.reg-form{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 16px;
    
}

form.reg-form > label{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-size: 1.3rem;
    flex: 1 0 200px;
}

form.reg-form > label > input{
    height: 25px;
    padding: 5px;
    border: none;
    border: 1px solid #afb0b3;
    border-radius: 4px;
}

form.reg-form > label > input:focus{
    outline: none;
    border-color: blue;
}

form.reg-form .button-con{
    flex: 1 0 100%;
}

form.reg-form button{
    padding: 10px;
    width: 150px;
    background-color: #596D48;
    color: white;
    border: none;
    font-weight: bolder;
}

main > p.login{
    font-size: 1.3rem;
    margin-bottom: 0;
}

main > p.login > a{
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}